Client/src/wsdl/localhost_8080/WebService/CarImpService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:tns="http://interfaceApp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaceApp/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaceApp/" schemaLocation="http://localhost:8080/WebService/CarImpService?xsd=1"/>
</xsd:schema>
</types>
<message name="getCar">
<part name="parameters" element="tns:getCar"/>
</message>
<message name="getCarResponse">
<part name="parameters" element="tns:getCarResponse"/>
</message>
<message name="deletetCar">
<part name="parameters" element="tns:deletetCar"/>
</message>
<message name="deletetCarResponse">
<part name="parameters" element="tns:deletetCarResponse"/>
</message>
<message name="getAllCars">
<part name="parameters" element="tns:getAllCars"/>
</message>
<message name="getAllCarsResponse">
<part name="parameters" element="tns:getAllCarsResponse"/>
</message>
<message name="insertCar">
<part name="parameters" element="tns:insertCar"/>
</message>
<message name="insertCarResponse">
<part name="parameters" element="tns:insertCarResponse"/>
</message>
<message name="editCar">
<part name="parameters" element="tns:editCar"/>
</message>
<message name="editCarResponse">
<part name="parameters" element="tns:editCarResponse"/>
</message>
<portType name="ICar">
<operation name="getCar">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaceApp/ICar/getCarRequest" message="tns:getCar"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaceApp/ICar/getCarResponse" message="tns:getCarResponse"/>
</operation>
<operation name="deletetCar">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaceApp/ICar/deletetCarRequest" message="tns:deletetCar"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaceApp/ICar/deletetCarResponse" message="tns:deletetCarResponse"/>
</operation>
<operation name="getAllCars">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaceApp/ICar/getAllCarsRequest" message="tns:getAllCars"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaceApp/ICar/getAllCarsResponse" message="tns:getAllCarsResponse"/>
</operation>
<operation name="insertCar">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://interfaceApp/ICar/insertCarRequest" message="tns:insertCar"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://interfaceApp/ICar/insertCarResponse" message="tns:insertCarResponse"/>
</operation>
<operation name="editCar">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://interfaceApp/ICar/editCarRequest" message="tns:editCar"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://interfaceApp/ICar/editCarResponse" message="tns:editCarResponse"/>
</operation>
</portType>
</definitions>