Client/src/wsdl/localhost_8080/WebService/CarsImpService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:tns="http://interfaceApp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaceApp/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaceApp/" schemaLocation="http://localhost:8080/WebService/CarsImpService?xsd=1"/>
</xsd:schema>
</types>
<message name="GetAllCars">
<part name="parameters" element="tns:GetAllCars"/>
</message>
<message name="GetAllCarsResponse">
<part name="parameters" element="tns:GetAllCarsResponse"/>
</message>
<message name="InsertCar">
<part name="parameters" element="tns:InsertCar"/>
</message>
<message name="InsertCarResponse">
<part name="parameters" element="tns:InsertCarResponse"/>
</message>
<message name="EditCar">
<part name="parameters" element="tns:EditCar"/>
</message>
<message name="EditCarResponse">
<part name="parameters" element="tns:EditCarResponse"/>
</message>
<message name="DeletetCar">
<part name="parameters" element="tns:DeletetCar"/>
</message>
<message name="DeletetCarResponse">
<part name="parameters" element="tns:DeletetCarResponse"/>
</message>
<portType name="ICars">
<operation name="GetAllCars">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaceApp/ICars/GetAllCarsRequest" message="tns:GetAllCars"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaceApp/ICars/GetAllCarsResponse" message="tns:GetAllCarsResponse"/>
</operation>
<operation name="InsertCar">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaceApp/ICars/InsertCarRequest" message="tns:InsertCar"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaceApp/ICars/InsertCarResponse" message="tns:InsertCarResponse"/>
</operation>
<operation name="EditCar">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaceApp/ICars/EditCarRequest" message="tns:EditCar"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaceApp/ICars/EditCarResponse" message="tns:EditCarResponse"/>
</operation>
<operation name="DeletetCar">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://interfaceApp/ICars/DeletetCarRequest" message="tns:DeletetCar"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://interfaceApp/ICars/DeletetCarResponse" message="tns:DeletetCarResponse"/>
</operation>
</portType>
</definitions>