Client/src/wsdl/localhost_8080/WebService/CarsImpService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://interfaceApp/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://interfaceApp/">

<xs:element name="DeletetCar" type="tns:DeletetCar"/>

<xs:element name="DeletetCarResponse" type="tns:DeletetCarResponse"/>

<xs:element name="EditCar" type="tns:EditCar"/>

<xs:element name="EditCarResponse" type="tns:EditCarResponse"/>

<xs:element name="GetAllCars" type="tns:GetAllCars"/>

<xs:element name="GetAllCarsResponse" type="tns:GetAllCarsResponse"/>

<xs:element name="InsertCar" type="tns:InsertCar"/>

<xs:element name="InsertCarResponse" type="tns:InsertCarResponse"/>

<xs:element name="cars" type="tns:cars"/>

<xs:complexType name="GetAllCars">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllCarsResponse">
<xs:sequence>
<xs:element name="allCars" type="tns:cars" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cars">
<xs:sequence>
<xs:element name="brand" type="xs:string" minOccurs="0"/>
<xs:element name="displacement" type="xs:string" minOccurs="0"/>
<xs:element name="engine" type="xs:string" minOccurs="0"/>
<xs:element name="feedId" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="image" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="maxRPM" type="xs:string" minOccurs="0"/>
<xs:element name="model" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int" minOccurs="0"/>
<xs:element name="transmission" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="year" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeletetCar">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeletetCarResponse">
<xs:sequence>
<xs:element name="deleteCar" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EditCar">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
<xs:element name="arg7" type="xs:string" minOccurs="0"/>
<xs:element name="arg8" type="xs:string" minOccurs="0"/>
<xs:element name="arg9" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EditCarResponse">
<xs:sequence>
<xs:element name="editCar" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertCar">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
<xs:element name="arg7" type="xs:string" minOccurs="0"/>
<xs:element name="arg8" type="xs:string" minOccurs="0"/>
<xs:element name="arg9" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertCarResponse">
<xs:sequence>
<xs:element name="insertCar" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>