Client/src/wsdl/localhost_8080/WebService/ReviewsServ.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.threeguys.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.threeguys.com/" name="ReviewsServ">
<types>
<xsd:schema>
<xsd:import namespace="http://services.threeguys.com/" schemaLocation="http://localhost:8080/WebService/ReviewsServ?xsd=1"/>
</xsd:schema>
</types>
<message name="createNew">
<part name="parameters" element="tns:createNew"/>
</message>
<message name="createNewResponse">
<part name="parameters" element="tns:createNewResponse"/>
</message>
<message name="SOAPException">
<part name="fault" element="tns:SOAPException"/>
</message>
<message name="getListByID">
<part name="parameters" element="tns:getListByID"/>
</message>
<message name="getListByIDResponse">
<part name="parameters" element="tns:getListByIDResponse"/>
</message>
<message name="getList">
<part name="parameters" element="tns:getList"/>
</message>
<message name="getListResponse">
<part name="parameters" element="tns:getListResponse"/>
</message>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="removeResponse">
<part name="parameters" element="tns:removeResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<portType name="ReviewsServ">
<operation name="createNew">
<input wsam:Action="http://services.threeguys.com/ReviewsServ/createNewRequest" message="tns:createNew"/>
<output wsam:Action="http://services.threeguys.com/ReviewsServ/createNewResponse" message="tns:createNewResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://services.threeguys.com/ReviewsServ/createNew/Fault/SOAPException"/>
</operation>
<operation name="getListByID">
<input wsam:Action="http://services.threeguys.com/ReviewsServ/getListByIDRequest" message="tns:getListByID"/>
<output wsam:Action="http://services.threeguys.com/ReviewsServ/getListByIDResponse" message="tns:getListByIDResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://services.threeguys.com/ReviewsServ/getListByID/Fault/SOAPException"/>
</operation>
<operation name="getList">
<input wsam:Action="http://services.threeguys.com/ReviewsServ/getListRequest" message="tns:getList"/>
<output wsam:Action="http://services.threeguys.com/ReviewsServ/getListResponse" message="tns:getListResponse"/>
</operation>
<operation name="remove">
<input wsam:Action="http://services.threeguys.com/ReviewsServ/removeRequest" message="tns:remove"/>
<output wsam:Action="http://services.threeguys.com/ReviewsServ/removeResponse" message="tns:removeResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://services.threeguys.com/ReviewsServ/remove/Fault/SOAPException"/>
</operation>
<operation name="update">
<input wsam:Action="http://services.threeguys.com/ReviewsServ/updateRequest" message="tns:update"/>
<output wsam:Action="http://services.threeguys.com/ReviewsServ/updateResponse" message="tns:updateResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://services.threeguys.com/ReviewsServ/update/Fault/SOAPException"/>
</operation>
</portType>
<binding name="ReviewsServPortBinding" type="tns:ReviewsServ">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createNew">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getListByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="getList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ReviewsServ">
<port name="ReviewsServPort" binding="tns:ReviewsServPortBinding">
<soap:address location="http://localhost:8080/WebService/ReviewsServ"/>
</port>
</service>
</definitions>