Client/src/wsdl/localhost_8080/WebService/ReviewsServ.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services.threeguys.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.threeguys.com/">

<xs:element name="SOAPException" type="tns:SOAPException"/>

<xs:element name="createNew" type="tns:createNew"/>

<xs:element name="createNewResponse" type="tns:createNewResponse"/>

<xs:element name="getList" type="tns:getList"/>

<xs:element name="getListByCarID" type="tns:getListByCarID"/>

<xs:element name="getListByCarIDResponse" type="tns:getListByCarIDResponse"/>

<xs:element name="getListByID" type="tns:getListByID"/>

<xs:element name="getListByIDResponse" type="tns:getListByIDResponse"/>

<xs:element name="getListResponse" type="tns:getListResponse"/>

<xs:element name="remove" type="tns:remove"/>

<xs:element name="removeResponse" type="tns:removeResponse"/>

<xs:element name="reviews" type="tns:reviews"/>

<xs:element name="searchListByCarID" type="tns:searchListByCarID"/>

<xs:element name="searchListByCarIDResponse" type="tns:searchListByCarIDResponse"/>

<xs:element name="update" type="tns:update"/>

<xs:element name="updateResponse" type="tns:updateResponse"/>

<xs:complexType name="searchListByCarID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="searchWord" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchListByCarIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:reviews" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reviews">
<xs:sequence>
<xs:element name="carID" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="rating" type="xs:int" minOccurs="0"/>
<xs:element name="reviewID" type="xs:int" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="userID" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SOAPException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getList">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getListResponse">
<xs:sequence>
<xs:element name="return" type="tns:reviews" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListByID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListByIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:reviews" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNew">
<xs:sequence>
<xs:element name="userID" type="xs:int"/>
<xs:element name="carID" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="rating" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListByCarID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListByCarIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:reviews" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove">
<xs:sequence>
<xs:element name="reviewID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="update">
<xs:sequence>
<xs:element name="reviewID" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="rating" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>