Client/src/wsdl/localhost_8080/WebService/UsersImpService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:tns="http://interfaceApp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaceApp/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaceApp/" schemaLocation="http://localhost:8080/WebService/UsersImpService?xsd=1"/>
</xsd:schema>
</types>
<message name="InsertUser">
<part name="parameters" element="tns:InsertUser"/>
</message>
<message name="InsertUserResponse">
<part name="parameters" element="tns:InsertUserResponse"/>
</message>
<message name="LoginUser">
<part name="parameters" element="tns:LoginUser"/>
</message>
<message name="LoginUserResponse">
<part name="parameters" element="tns:LoginUserResponse"/>
</message>
<message name="EdittUser">
<part name="parameters" element="tns:EdittUser"/>
</message>
<message name="EdittUserResponse">
<part name="parameters" element="tns:EdittUserResponse"/>
</message>
<message name="GetAllUsers">
<part name="parameters" element="tns:GetAllUsers"/>
</message>
<message name="GetAllUsersResponse">
<part name="parameters" element="tns:GetAllUsersResponse"/>
</message>
<portType name="IUser">
<operation name="InsertUser">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaceApp/IUser/InsertUserRequest" message="tns:InsertUser"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaceApp/IUser/InsertUserResponse" message="tns:InsertUserResponse"/>
</operation>
<operation name="LoginUser">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaceApp/IUser/LoginUserRequest" message="tns:LoginUser"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaceApp/IUser/LoginUserResponse" message="tns:LoginUserResponse"/>
</operation>
<operation name="EdittUser">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaceApp/IUser/EdittUserRequest" message="tns:EdittUser"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaceApp/IUser/EdittUserResponse" message="tns:EdittUserResponse"/>
</operation>
<operation name="GetAllUsers">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://interfaceApp/IUser/GetAllUsersRequest" message="tns:GetAllUsers"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://interfaceApp/IUser/GetAllUsersResponse" message="tns:GetAllUsersResponse"/>
</operation>
</portType>
</definitions>