Client/src/wsdl/localhost_8080/WebService/UsersImpService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:tns="http://interfaceApp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaceApp/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaceApp/" schemaLocation="http://localhost:8080/WebService/UsersImpService?xsd=1"/>
</xsd:schema>
</types>
<message name="editUser">
<part name="parameters" element="tns:editUser"/>
</message>
<message name="editUserResponse">
<part name="parameters" element="tns:editUserResponse"/>
</message>
<message name="insertUser">
<part name="parameters" element="tns:insertUser"/>
</message>
<message name="insertUserResponse">
<part name="parameters" element="tns:insertUserResponse"/>
</message>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"/>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"/>
</message>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<portType name="IUser">
<operation name="editUser">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaceApp/IUser/editUserRequest" message="tns:editUser"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaceApp/IUser/editUserResponse" message="tns:editUserResponse"/>
</operation>
<operation name="insertUser">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://interfaceApp/IUser/insertUserRequest" message="tns:insertUser"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://interfaceApp/IUser/insertUserResponse" message="tns:insertUserResponse"/>
</operation>
<operation name="getAllUsers">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaceApp/IUser/getAllUsersRequest" message="tns:getAllUsers"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaceApp/IUser/getAllUsersResponse" message="tns:getAllUsersResponse"/>
</operation>
<operation name="loginUser">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://interfaceApp/IUser/loginUserRequest" message="tns:loginUser"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://interfaceApp/IUser/loginUserResponse" message="tns:loginUserResponse"/>
</operation>
</portType>
</definitions>