Client/src/wsdl/localhost_8080/WebService/UsersImpService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://interfaceApp/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://interfaceApp/">

<xs:element name="EdittUser" type="tns:EdittUser"/>

<xs:element name="EdittUserResponse" type="tns:EdittUserResponse"/>

<xs:element name="GetAllUsers" type="tns:GetAllUsers"/>

<xs:element name="GetAllUsersResponse" type="tns:GetAllUsersResponse"/>

<xs:element name="InsertUser" type="tns:InsertUser"/>

<xs:element name="InsertUserResponse" type="tns:InsertUserResponse"/>

<xs:element name="LoginUser" type="tns:LoginUser"/>

<xs:element name="LoginUserResponse" type="tns:LoginUserResponse"/>

<xs:element name="users" type="tns:users"/>

<xs:complexType name="EdittUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EdittUserResponse">
<xs:sequence>
<xs:element name="editAuth" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAllUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllUsersResponse">
<xs:sequence>
<xs:element name="allAuth" type="tns:users" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="users">
<xs:sequence>
<xs:element name="fname" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="lname" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="userid" type="xs:int" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertUserResponse">
<xs:sequence>
<xs:element name="insertAuth" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginUserResponse">
<xs:sequence>
<xs:element name="editAuth" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>